{% extends 'usuarios/home.html' %}

{% block content %}

<h1 style="text-align: center;font-size: 24px; margin-top: 1.5rem;">Listagem de Usuários</h1>

<div class="container mt-5">
    <table class="table table-dark mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.idade}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
